:root{
    --color-1: #f9386b;
    --color-2: #f02698;
    --color-3: #000000;
    --color-4: #ff0f0f;
    --color-5: #ffffff;
    --color-6: #ca038bdd;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px; 
    --layout-imagen-width:100%;
    --layout-imagen-height:260px;
}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encode-sans/EncodeSans-Regular.ttf");
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encode-sans/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/encode-sans/EncodeSans-SemiBold.ttf");
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encode-sans/EncodeSans-Bold.ttf");
}