<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main>
        <section class="main__section">
            <article class="arriba">
                <div class="check">
                    <a href="detail.html">
                        <img src="../storage/img/back.svg" >
                    </a>
                    <p>Checkout</p>
                    <img src="../storage/img/sidebar.svg" >
                </div>
            </article>
            <article class="añadir">
                <div class="sec1">
                    <div class="mm"><img src="../storage/img/img3.png" class="i"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <img src="../storage/img/Group 3245menos.svg">
                            <p> 4 </p>
                            <img src="../storage/img/Group 3247mas.svg">

                        </div>
                    </div>
                </div>
                <div class="sec2">
                    <div class="mm"><img src="../storage/img/img1.png" class="i"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <img src="../storage/img/Group 3245menos.svg">
                            <p> 4 </p>
                            <img src="../storage/img/Group 3247mas.svg">

                        </div>
                    </div>
                </div>
                <div class="sec3">
                    <div class="mm"><img src="../storage/img/img2.png" class="i"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <img src="../storage/img/Group 3245menos.svg">
                            <p> 4 </p>
                            <img src="../storage/img/Group 3247mas.svg">

                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="shipping">
                    <h4>Shipping Information</h4>
                </div>
                <div class="visa">
                    <div class="imgn">
                        <img src="../storage/img/visa.svg">
                        <p>**** **** **** 2143</p>
                    </div>
                    <div class="flechaabajo">
                        <img src="../storage/img/arrow-down.svg" >
                    </div>
                </div>
                <div class="tot">
                    <div class="itm">
                        <div class="tot9item">
                            <p>Total (9 items)</p>
                        </div>
                        <div class="num">
                            <h3>$131.97</h3>
                        </div>
                    </div>
                    <div class="tot9item">
                        <div class="itm">
                            <p>Shipping Fee</p>
                        </div>
                        <div class="num">
                            <h3>$0.00</h3>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="tot9item">
                        <p>Sub Total</p>
                    </div>
                    <div class="num">
                        <h3>$131.97</h3>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                <span>Pay</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>