<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main>
        <section class="main__section">
            <article class="arriba">
                <div class="check">
                    <img src="../storage/img/back.svg" >
                    <p>Checkout</p>
                    <img src="../storage/img/sidebar.svg" >
                </div>
            </article>
            <article class="añadir">
                <div class="sec1">
                    <div class="mroja"><img src="../storage/img/img3.png"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <p>- 4 +</p>
                        </div>
                    </div>
                </div>
                <div class="sec2">
                    <div class="mnegro"><img src="../storage/img/img1.png"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <p>- 1 +</p>
                        </div>
                    </div>
                </div>
                <div class="sec3">
                    <div class="mplastic"><img src="../storage/img/img2.png"></div>
                    <div class="infofoto">
                        <h5>Modern light clothes</h5>
                        <p>Dress modern</p>
                        <p class="valor">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <h3>...</h3>
                        </div>
                        <div class="seleccion">
                            <p>- 4 +</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>

    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                <span>Pay</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>