<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Detail
    </title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <section class="main__section">
            <article class="article__producto">
                <div class="producto__imagen">
                    <img src="../storage/img/img1.png" >
                </div>
                <div class="producto__menu">
                    <img src="../storage/img/back.svg" >
                    <img src="../storage/img/heartblack.svg" >
                </div>
            </article>
        </section>

    </main>
</body>
</html>